[submodule "projects/boomref"]
	path = projects/boomref
	url = git@github.com:fragglet/boomref.git
[submodule "projects/lhasa"]
	path = projects/lhasa
	url = git@github.com:fragglet/lhasa-releases.git
[submodule "img"]
	path = img
	url = git@github.com:fragglet/soulsphere.org-img.git
[submodule "eluhgunt"]
	path = eluhgunt
	url = https://github.com/fragglet/eluhgunt.git
