/* page should have proper margins. */
body {
  margin-top: 2em;
  margin-bottom: 4em;

  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  /* we always want at least a little bit of horizontal margins: */
  padding-left: 1.3em;
  padding-right: 1.3em;
}
/* because we always have some horizontal margin, we can expand the
   top heading slightly. */
h1 {
  margin-left: -5px;
  margin-right: -5px;
}
/* fix up the ugly bullet-point lists to indent properly */
ul {
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 3em;
}
/* "fancy" horizontal rule that only takes up a third of the page */
hr {
  border-color: #aaa;
  border-style: dashed;
  width: 33%;
  margin-left: 33%;
}
/* for "illustrations" (images and video iframes), display as block
   and center on page */
.illustration {
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* youtube video */
iframe.illustration {
  width: 32em;
  height: 24em;
}

/* embedded text files need to be readable within the overall page, so
   we use a small font */
pre {
  padding-left: 10px;
  font-size: small;
  width: auto;
}
